.b-new-message {
    position: relative; 
    height: 40px;
}
.b-new-message > button{
    position: absolute;
    right: 0;
}

.jumbotron{
    padding: 0;
}

.p-messages > h1{
    margin-top: 10px;
    margin-bottom: 20px;
}