
.c-messages-card {
    height: 100%;
}

.c-messages-card > .card {
    height: 100%;
}

.c-messages-card > .card img {
    height: 250px;
    object-fit: cover;
}


.message-details > label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:5px;
}


.message-details > p{
    max-width: 600px;
}
.message-priority > label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:5px;
}


.message-priority > p{
    max-width: 600px;
}