.c-message-card{
    height: 100%;
}
.message-card-buttons{
    display: flex;
    align-items: flex-end;
}


.message-details>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.message-details>p {
    /* max-width: 600px; */
}

.message-priority>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.message-priority>p {
    /* max-width: 600px; */
}

.message-card-buttons > .b-update-button {
    margin-top: 5px;
    margin-right: 20px;
}


.message-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}