.tenant-card-buttons {
    display: flex;
    align-items: flex-end;
}

.tenant-email>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.tenant-name>p {
    /* max-width: 600px; */
}

.tenant-name>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.tenant-building>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.tenant-card-buttons > .b-update-button {
    margin-top: 5px;
    margin-right: 20px;
}

.b-delete-button {
    /* margin-top: 100%;
    margin-left: 20px; */
}

.tenant-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}