

.tenant-email>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.tenant-name>p {
    max-width: 600px;
}

.tenant-name>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}



.tenant-building>label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 5px;
}

.b-update-button {
    margin-top: 100%;
    margin-left: 20px;
}

.b-delete-button {
    margin-top: 100%;
    margin-left: 20px;
}

.tenant-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}