.p-votes .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-new-vote {
    position: relative;
    height: 40px;
    margin-bottom: 7px;
}

.b-new-vote>button {
    position: absolute;
    right: 0;
}

.PageHeader h1 {
    /* background-color: rgb(248, 193, 51); */
    background-color: #FBE8A6;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}
